body{
    text-align: center;
    margin: 0px;
    
}


.container{
	min-height: calc(100vh - 150px);
}

.inputContainer{
	width: 100%;

	padding-bottom: 50px;
	padding-top: 50px;
	width: 100%;
	heigth: 50px;
	background-color: #FAFAFA;
}

.output{
	max-width: 700px;
	text-align: left;
	position: relative;
	left: 50%;
	transform: translateX(-50%);


}

.abstract{
	max-width: 700px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.navigation{
	display: none;
}

#outputStatistic{
	display: none;
}

#outputTable{
	width: 50%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

table, th, td {
  border: 1px solid black;
}
